Repository gardener/gardener-extension-shoot-dns-service, pull requests merged in 2020-11, with the labels that each got.

#24 Add "SKIP_FETCH_TOOLS=1" to make test
  Makefile
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#26 update dependency gardener/gardener to v1.12.5, updated golang to 1.15.3
  Dockerfile
  go.mod
  go.sum
  pkg/controller/lifecycle/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/cmd/options.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/general/managed_resource.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/healtcheck_actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/inject.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/utils.go
  vendor/github.com/gardener/gardener/hack/check-generate.sh
  vendor/github.com/gardener/gardener/hack/test-cover.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/types_seed.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/helper/shootstate_list.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_seed.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/errors.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_seed.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/scaling.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/types.go
  vendor/github.com/gardener/gardener/pkg/controllerutils/miscellaneous.go
  vendor/github.com/gardener/gardener/pkg/operation/common/managedresources.go
  vendor/github.com/gardener/gardener/pkg/operation/common/types.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/taskfn.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/patch.go
  vendor/github.com/gardener/gardener/pkg/utils/managedresources/managedresources.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/certificates.go
  vendor/github.com/gardener/gardener/test/framework/gardener_utils.go
  vendor/github.com/gardener/gardener/test/framework/gardenerframework.go
  vendor/github.com/gardener/gardener/test/framework/seedregistrationframework.go
  vendor/github.com/gardener/gardener/test/framework/shoot_utils.go
  vendor/github.com/hashicorp/hcl/.gitignore
  vendor/github.com/hashicorp/hcl/Makefile
  vendor/github.com/mitchellh/copystructure/README.md
  vendor/github.com/pelletier/go-toml/example-crlf.toml
  vendor/github.com/spf13/afero/.travis.yml
  vendor/modules.txt
Labels: area/control-plane, kind/technical-debt, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#25 ensure shoot DNS entries deleted before shoot DNSOwner
  charts/gardener-extension-shoot-dns-service/templates/rbac.yaml
  example/controller-registration.yaml
  pkg/controller/common/dnsentrieshelper.go
  pkg/controller/common/env.go
  pkg/controller/common/state.go
  pkg/controller/lifecycle/actuator.go
  pkg/controller/replication/add.go
Labels: area/control-plane, area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, size/m

#28 Keep objects of shoot managed resources during migration
  pkg/controller/lifecycle/actuator.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#29 keep shoot DNS entries on control plane migration
  pkg/controller/lifecycle/actuator.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, priority/normal, size/s

#30 Moving dns management docs from /documentation
  docs/usage/dns_names.md
  docs/usage/dns_providers.md
Labels: area/documentation, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#31 Moving dns management docs from /documentation
  docs/installation/setup.md
Labels: needs/ok-to-test, reviewed/lgtm
