Repository gardener/gardener-extension-shoot-dns-service, pull requests merged in 2022-11, with the labels that each got.

#167 Update API Core version in examples to core.gardener.cloud/v1beta1
  example/30-cluster.yaml
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#171 Drop DNS activation for DNSOwner
  charts/gardener-extension-shoot-dns-service/templates/deployment.yaml
  charts/gardener-extension-shoot-dns-service/values.yaml
  charts/internal/shoot-dns-service-seed/templates/owner.yaml
  charts/internal/shoot-dns-service-seed/values.yaml
  docs/installation/setup.md
  example/controller-registration.yaml
  example/extension.yaml
  pkg/cmd/options.go
  pkg/controller/config/config.go
  pkg/controller/lifecycle/actuator.go
Labels: area/control-plane, kind/task, needs/ok-to-test, needs/review, size/s

#173 Fix integration test TestDefinition
  .test-defs/shootdns-test.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing
