Repository gardener/gardener-extension-shoot-dns-service, pull requests merged in 2022-04, with the labels that each got.

#116 Added title to the frontmatter of certain topics
  docs/usage/dns_names.md
  docs/usage/dns_providers.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#118 Minor fixes related to `DNSProvider` management with primary provider
  Dockerfile
  example/50-mutatingwebhookconfiguration.yaml
  pkg/admission/mutator/mutator_test.go
  pkg/admission/mutator/shoot_mutator.go
  pkg/controller/lifecycle/actuator.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/s

#121 Remove obsolete resource refs
  pkg/admission/mutator/mutator_test.go
  pkg/admission/mutator/shoot_mutator.go
Labels: needs/ok-to-test

#110 Update manifest.yaml
  .docforge/manifest.yaml
Labels: needs/ok-to-test, needs/review, size/xs
