Repository gardener/gardener-extension-shoot-dns-service, pull requests merged in 2022-03, with the labels that each got.

#105 Set 'useProjectedTokenMount' value when rendering seed chart
  pkg/controller/lifecycle/actuator.go
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#104 Support remote provider to manage DNS entries in default domain for `external` DNSProvider
  charts/gardener-extension-shoot-dns-service/templates/deployment.yaml
  charts/gardener-extension-shoot-dns-service/templates/secret-remote-default-domain.yaml
  charts/gardener-extension-shoot-dns-service/values.yaml
  example/controller-registration.yaml
  pkg/cmd/options.go
  pkg/controller/config/config.go
  pkg/controller/lifecycle/actuator.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/m

#107 Remote provider for default domain: use label instead of an annotation to activate feature per seed
  pkg/controller/lifecycle/actuator.go
Labels: area/control-plane, kind/task, needs/ok-to-test, needs/review, size/xs

#108 Add admission image to pipeline
  .ci/pipeline_definitions
  Dockerfile
Labels: area/control-plane, kind/task, needs/ok-to-test, needs/review, size/xs

#109 Don't mutate shoots in deletion
  pkg/admission/mutator/mutator_test.go
  pkg/admission/mutator/shoot_mutator.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs

#113 Copy zone for external DNSEntry from external DNSRecord
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/dnsrecord.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#112 Delete managed DNS providers on hibernation
  pkg/controller/lifecycle/actuator.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/m

#114 Add support for sa token volume projection in admission charts
  charts/gardener-extension-admission-shoot-dns-service/charts/application/templates/rbac.yaml
  charts/gardener-extension-admission-shoot-dns-service/charts/application/templates/serviceaccount.yaml
  charts/gardener-extension-admission-shoot-dns-service/charts/application/values.yaml
  charts/gardener-extension-admission-shoot-dns-service/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-shoot-dns-service/charts/runtime/templates/serviceaccount.yaml
  charts/gardener-extension-admission-shoot-dns-service/charts/runtime/values.yaml
  charts/gardener-extension-admission-shoot-dns-service/values.yaml
  docs/installation/deployment.md
Labels: area/documentation, area/security, area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m
