Repository gardener/gardener-extension-shoot-dns-service, pull requests merged in 2023-03, with the labels that each got.

#195 Remove minAllowed.cpu for all components
  charts/gardener-extension-admission-shoot-dns-service/charts/application/values.yaml
  charts/gardener-extension-admission-shoot-dns-service/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-shoot-dns-service/charts/runtime/values.yaml
  charts/gardener-extension-admission-shoot-dns-service/values.yaml
  charts/gardener-extension-shoot-dns-service/templates/dnsman-vpa.yaml
  charts/gardener-extension-shoot-dns-service/templates/vpa.yaml
  charts/gardener-extension-shoot-dns-service/values-test.yaml
  charts/gardener-extension-shoot-dns-service/values.yaml
  charts/internal/shoot-dns-service-seed/templates/vpa.yaml
  charts/internal/shoot-dns-service-seed/values.yaml
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, area/auto-scaling

#196 Fix an error in the charts
  charts/gardener-extension-shoot-dns-service/templates/deployment.yaml
  charts/gardener-extension-shoot-dns-service/templates/dnsman-deployment.yaml
  example/controller-registration.yaml
Labels: kind/bug, needs/ok-to-test, needs/review, size/xs

#197 Adapt `NetworkPolicy` rules according to recent refactorings
  charts/gardener-extension-shoot-dns-service/templates/_helpers.tpl
  charts/gardener-extension-shoot-dns-service/templates/deployment.yaml
  charts/gardener-extension-shoot-dns-service/templates/dnsman-deployment.yaml
  charts/gardener-extension-shoot-dns-service/templates/dnsman-service-remoteaccess.yaml
  charts/gardener-extension-shoot-dns-service/templates/dnsman-service.yaml
  charts/gardener-extension-shoot-dns-service/templates/service.yaml
  charts/internal/shoot-dns-service-seed/templates/deployment.yaml
  example/controller-registration.yaml
Labels: area/dev-productivity, area/networking, area/ops-productivity, area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#201 Vendor `gardener@1.65.3` and add `ShootSystemComponentsHealthy` to `conditionTypesToRemove`
  go.mod
  go.sum
  pkg/controller/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/modules.txt
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#202 [release-v1.31] Vendor `gardener@1.65.3` and add `ShootSystemComponentsHealthy` to `conditionTypesToRemove`
  go.mod
  go.sum
  pkg/controller/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/modules.txt
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs
