Repository gardener/gardener-extension-shoot-dns-service, pull requests merged in 2024-05, with the labels that each got.

#328 chore: Update Concourse URL
  README.md
Labels: area/documentation, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, status/closed

#331 Add appropriate error code for error `duplicate zones [...]`
  pkg/apis/helper/error_codes.go
  pkg/controller/lifecycle/dnsprovider_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#323 Fix regression bug "secret name is not defined as named resource references at 'spec.resources'"
  pkg/admission/validator/shoot_validator.go
  pkg/apis/service/validation/validation.go
  pkg/apis/service/validation/validation_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s
