Repository gardener/gardener-extension-shoot-dns-service, pull requests merged in 2024-03, with the labels that each got.

#302 Bump golang version in TestDefinition to 1.22.0
  .github/dependabot.yaml
  .test-defs/shootdns-test.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#303 Add error codes on deletion and no domain errors
  pkg/apis/helper/error_codes.go
  pkg/controller/lifecycle/actuator.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#313 Allow DNS provider type `rfc2136`
  pkg/apis/service/validation/validation.go
  pkg/apis/service/validation/validation_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs
