Repository gardener/gardener-extension-shoot-dns-service, pull requests merged in 2024-12, with the labels that each got.

#407 chore: Cleanup TODOs 🧹
  charts/gardener-extension-shoot-dns-service/templates/dnsman-service.yaml
  charts/gardener-extension-shoot-dns-service/templates/service.yaml
  cmd/gardener-extension-shoot-dns-service/app/app.go
  example/controller-registration.yaml
Labels: area/quality, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#409 Remove memory limits. Unify templating the VPA resources
  charts/gardener-extension-admission-shoot-dns-service/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-shoot-dns-service/values.yaml
  charts/gardener-extension-shoot-dns-service/templates/dnsman-vpa.yaml
  charts/gardener-extension-shoot-dns-service/templates/vpa.yaml
  charts/gardener-extension-shoot-dns-service/values-test.yaml
  charts/gardener-extension-shoot-dns-service/values.yaml
  docs/operations/deployment.md
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, area/auto-scaling

#408 Ensure record for DNSEntries are left untouched during migration
  go.mod
  go.sum
  pkg/controller/common/utils.go
  pkg/controller/lifecycle/actuator.go
  pkg/controller/replication/reconciler.go
Labels: kind/bug, reviewed/ok-to-test, reviewed/lgtm, size/m, area/control-plane-migration
