Repository gardener/gardener-extension-shoot-dns-service, pull requests merged in 2025-07, with the labels that each got.

#511 REUSE: Convert DEP5 to `REUSE.toml`
  .reuse/dep5
  REUSE.toml
Labels: area/open-source, kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, size/s

#512 Drop support for Shoots with Kubernetes version <= 1.28
  example/10-fake-shoot-controlplane.yaml
  example/30-cluster.yaml
Labels: area/quality, kind/cleanup, needs/review, reviewed/ok-to-test, reviewed/lgtm, size/xs

#515 Upgrade github.com/gardener/external-dns-management from `v0.25.1` to `v0.25.3`
  charts/gardener-extension-shoot-dns-service/values.yaml
  charts/images.yaml
  example/controller-registration.yaml
  imagevector/images.yaml
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#516 Upgrade github.com/gardener/external-dns-management from `v0.25.2` to `v0.26.0`
  charts/gardener-extension-shoot-dns-service/values.yaml
  charts/images.yaml
  example/controller-registration.yaml
  go.mod
  go.sum
  imagevector/images.yaml
Labels: area/control-plane, kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, size/xs

#517 Update CRD for `DNSEntry` (missing field `.status.dnsName`)
  charts/gardener-extension-shoot-dns-service/templates/dnsman-crds.yaml
  example/20-crds.yaml
  example/controller-registration.yaml
Labels: area/control-plane, kind/bug, reviewed/ok-to-test, reviewed/lgtm, size/xs

#518 Update CRD for `DNSEntry` (missing field `.status.dnsName`)
  charts/gardener-extension-shoot-dns-service/templates/dnsman-crds.yaml
  example/20-crds.yaml
  example/controller-registration.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs
